@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  transition-duration: 1s;
  scroll-behavior: smooth; }

p {
  margin: 0; }

a:active, a:hover, a:focus, input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0; }

a {
  text-decoration: none; }

.container {
  max-width: 87.4084919473%;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

body {
  font-family: 'Play', sans-serif;
  font-weight: 400; }
  body .header {
    height: 55px;
    margin-top: 10px;
    margin-bottom: 18px; }
    body .header .header__content {
      display: grid;
      grid-template-columns: 25.5536626917% 25.2129471891% 16.6098807496% 16.1839863714% 16.4395229983%;
      align-items: center; }
      body .header .header__content .logo {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: 60% 40%;
        align-items: center; }
        body .header .header__content .logo img {
          grid-area: 1/1/3/2;
          max-width: 46px;
          width: 100%;
          justify-self: start;
          align-self: end;
          height: 55px; }
        body .header .header__content .logo .title__logo {
          font-weight: 700;
          font-size: 1.3125em;
          color: #1263ae;
          align-self: end; }
        body .header .header__content .logo .subtitle__logo {
          grid-area: 2/2/3/3;
          font-size: 0.875em;
          line-height: 16px;
          color: #6a6f75; }
      body .header .header__content .always__lightning {
        display: grid;
        grid-template-columns: 13.5135135135% auto;
        align-items: center; }
        body .header .header__content .always__lightning img {
          max-width: 40px;
          width: 100%; }
        body .header .header__content .always__lightning p {
          font-weight: 700;
          font-size: 0.8125em;
          color: #4d545f;
          text-transform: uppercase;
          line-height: 15px;
          margin-left: 5px; }
      body .header .header__content .schema__proezda {
        display: flex;
        align-content: center; }
        body .header .header__content .schema__proezda .fa {
          color: #515151; }
        body .header .header__content .schema__proezda p {
          font-size: 0.875em;
          margin: 0 5px; }
      body .header .header__content .email, body .header .header__content .phone {
        display: grid; }
        body .header .header__content .email .email__content, body .header .header__content .email .phone__content, body .header .header__content .phone .email__content, body .header .header__content .phone .phone__content {
          justify-self: end;
          display: grid;
          grid-template-columns: 10% 90%;
          grid-column-gap: 10px; }
          body .header .header__content .email .email__content .fa, body .header .header__content .email .phone__content .fa, body .header .header__content .phone .email__content .fa, body .header .header__content .phone .phone__content .fa {
            color: #1263ae; }
          body .header .header__content .email .email__content .contact, body .header .header__content .email .phone__content .contact, body .header .header__content .phone .email__content .contact, body .header .header__content .phone .phone__content .contact {
            grid-area: 1/2/2/3;
            font-size: 10px;
            color: #757f8e;
            align-self: center; }
          body .header .header__content .email .email__content a, body .header .header__content .email .phone__content a, body .header .header__content .phone .email__content a, body .header .header__content .phone .phone__content a {
            grid-area: 2/2/3/3;
            font-size: 0.9375em;
            color: #4d545f;
            font-weight: 700; }
          body .header .header__content .email .email__content a:hover, body .header .header__content .email .email__content a:active, body .header .header__content .email .email__content a:focus, body .header .header__content .email .phone__content a:hover, body .header .header__content .email .phone__content a:active, body .header .header__content .email .phone__content a:focus, body .header .header__content .phone .email__content a:hover, body .header .header__content .phone .email__content a:active, body .header .header__content .phone .email__content a:focus, body .header .header__content .phone .phone__content a:hover, body .header .header__content .phone .phone__content a:active, body .header .header__content .phone .phone__content a:focus {
            color: #1263ae; }
  body .main {
    background-image: url("../../images/lapsmainbg.png");
    background-size: 40%;
    background-position: right 80%;
    background-repeat: no-repeat; }
    body .main .catalog .catalog__content {
      position: relative;
      display: grid;
      grid-template-columns: 170px auto;
      grid-template-rows: 42px auto;
      grid-column-gap: 6px;
      height: 42px; }
      body .main .catalog .catalog__content .catalog__btn {
        width: 170px;
        height: 100%;
        display: flex;
        background-color: #1263ae;
        border-radius: 2px;
        padding: 11px 0 11px 15px; }
        body .main .catalog .catalog__content .catalog__btn .spans {
          width: 28px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 12px; }
          body .main .catalog .catalog__content .catalog__btn .spans .line {
            height: 3px;
            background: white;
            border-radius: 1px; }
          body .main .catalog .catalog__content .catalog__btn .spans .first {
            width: 100%; }
          body .main .catalog .catalog__content .catalog__btn .spans .second {
            width: 50%;
            transition-duration: 1s; }
          body .main .catalog .catalog__content .catalog__btn .spans .three {
            width: 25%;
            transition-duration: 1s; }
        body .main .catalog .catalog__content .catalog__btn p {
          grid-area: 1/2/2/3;
          font-size: 22px;
          color: #ffffff;
          text-transform: uppercase;
          justify-self: center;
          line-height: 90%;
          text-align: left; }
      body .main .catalog .catalog__content .catalog__btn:hover {
        cursor: pointer; }
        body .main .catalog .catalog__content .catalog__btn:hover .spans .second {
          width: 100%; }
        body .main .catalog .catalog__content .catalog__btn:hover .spans .three {
          width: 100%; }
      body .main .catalog .catalog__content .search {
        width: 100%;
        height: 100%;
        position: relative;
        display: grid; }
        body .main .catalog .catalog__content .search input {
          width: 100%;
          height: 100%;
          background: #EEEEEE;
          border-radius: 2px;
          display: grid;
          align-items: center;
          text-align: left;
          border: none;
          padding: 0 0 0 24px; }
        body .main .catalog .catalog__content .search .fa {
          color: #757f8e;
          position: absolute;
          align-self: center;
          right: 12px; }
      body .main .catalog .catalog__content .categories {
        position: absolute;
        top: 60px;
        columns: 4;
        z-index: 10;
        left: 0;
        padding: 30px;
        background-image: url("../../images/lapsbg.png");
        background-size: 40%;
        background-position: right 80%;
        background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
