@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  transition-duration: 1s;
  scroll-behavior: smooth; }

p {
  margin: 0; }

.map {
  position: absolute;
  top: 0;
  display: grid;
  width: 70%;
  align-items: start;
  justify-items: center;
  border: 1px solid #fafafa;
  border-radius: 10px;
  margin-top: 60px;
  left: 0;
  z-index: 1; }

.fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 !important; }

.active__category {
  border: 2px solid #1263ae !important; }

a:active, a:hover, a:focus, input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0; }

a {
  text-decoration: none; }

.container {
  max-width: 87.4084919473%;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

body {
  font-family: 'Play', sans-serif;
  font-weight: 400; }
  body .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 18px; }
    body .header .header__content {
      position: relative;
      display: grid;
      grid-template-columns: 25.5536626917% 25.2129471891% 16.6098807496% 16.1839863714% 16.4395229983%;
      grid-row-gap: 15px;
      align-items: center; }
      body .header .header__content .logo {
        display: flex;
        align-content: end; }
        body .header .header__content .logo img {
          grid-area: 1/1/3/2;
          max-height: 55px;
          height: 100%;
          width: 14%;
          justify-self: start;
          align-self: start;
          max-height: 55px;
          margin-right: 5px; }
        body .header .header__content .logo .logo__text {
          align-self: center; }
          body .header .header__content .logo .logo__text .title__logo {
            font-weight: 700;
            font-size: 1.3125em;
            color: #1263ae;
            align-self: end; }
          body .header .header__content .logo .logo__text .subtitle__logo {
            grid-area: 2/2/3/3;
            font-size: 0.875em;
            line-height: 16px;
            color: #6a6f75;
            align-self: start; }
      body .header .header__content .always__lightning {
        display: grid;
        grid-template-columns: 13.5135135135% auto;
        align-items: center; }
        body .header .header__content .always__lightning img {
          max-width: 40px;
          width: 100%; }
        body .header .header__content .always__lightning p {
          font-weight: 700;
          font-size: 0.8125em;
          color: #4d545f;
          text-transform: uppercase;
          line-height: 15px;
          margin-left: 5px; }
      body .header .header__content .schema__proezda {
        display: flex;
        align-content: center;
        align-self: center; }
        body .header .header__content .schema__proezda .fa {
          color: #515151; }
        body .header .header__content .schema__proezda p {
          font-size: 0.875em;
          margin: 0 5px; }
      body .header .header__content .schema__proezda:hover {
        cursor: pointer; }
      body .header .header__content .schema__proezda__mobile {
        display: none;
        align-items: center; }
        body .header .header__content .schema__proezda__mobile .circle {
          width: 32px;
          height: 32px;
          background-color: #CED6DE;
          border-radius: 50%;
          display: grid;
          align-items: center;
          justify-items: center; }
      body .header .header__content .mobile__top {
        display: none;
        justify-content: space-between; }
        body .header .header__content .mobile__top .logo__mobile {
          display: flex;
          align-content: end; }
          body .header .header__content .mobile__top .logo__mobile img {
            grid-area: 1/1/3/2;
            max-height: 55px;
            height: 100%;
            width: 14%;
            justify-self: start;
            align-self: start;
            max-height: 55px;
            margin-right: 5px; }
          body .header .header__content .mobile__top .logo__mobile .logo__text {
            align-self: center; }
            body .header .header__content .mobile__top .logo__mobile .logo__text .title__logo {
              font-weight: 700;
              font-size: 1.3125em;
              color: #1263ae;
              align-self: end; }
            body .header .header__content .mobile__top .logo__mobile .logo__text .subtitle__logo {
              grid-area: 2/2/3/3;
              font-size: 0.875em;
              line-height: 16px;
              color: #6a6f75;
              align-self: start; }
        body .header .header__content .mobile__top .mobile__burger {
          display: none; }
          body .header .header__content .mobile__top .mobile__burger .circle {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: #757F8E;
            border-radius: 50%;
            padding: 9px; }
            body .header .header__content .mobile__top .mobile__burger .circle p {
              font-size: 12px;
              line-height: 10px;
              color: #FFFFFF;
              text-align: center;
              margin-bottom: 2px; }
            body .header .header__content .mobile__top .mobile__burger .circle .spans {
              align-self: center;
              width: 96%;
              height: 100%;
              display: grid;
              grid-template-columns: 100%;
              grid-row-gap: 20%; }
              body .header .header__content .mobile__top .mobile__burger .circle .spans .line {
                height: 2.5px;
                background: white;
                border-radius: 50px; }
              body .header .header__content .mobile__top .mobile__burger .circle .spans .first {
                width: 100%; }
              body .header .header__content .mobile__top .mobile__burger .circle .spans .second {
                width: 75%; }
              body .header .header__content .mobile__top .mobile__burger .circle .spans .three {
                width: 50%; }
      body .header .header__content .email, body .header .header__content .phone {
        display: grid; }
        body .header .header__content .email .email__content, body .header .header__content .email .phone__content, body .header .header__content .phone .email__content, body .header .header__content .phone .phone__content {
          justify-self: end;
          display: grid;
          grid-template-columns: 10% 90%;
          grid-column-gap: 10px; }
          body .header .header__content .email .email__content .fa, body .header .header__content .email .phone__content .fa, body .header .header__content .phone .email__content .fa, body .header .header__content .phone .phone__content .fa {
            color: #1263ae; }
          body .header .header__content .email .email__content .contact, body .header .header__content .email .phone__content .contact, body .header .header__content .phone .email__content .contact, body .header .header__content .phone .phone__content .contact {
            grid-area: 1/2/2/3;
            font-size: 10px;
            color: #757f8e;
            align-self: center; }
          body .header .header__content .email .email__content a, body .header .header__content .email .phone__content a, body .header .header__content .phone .email__content a, body .header .header__content .phone .phone__content a {
            grid-area: 2/2/3/3;
            font-size: 0.9375em;
            color: #4d545f;
            font-weight: 700; }
          body .header .header__content .email .email__content a:hover, body .header .header__content .email .email__content a:active, body .header .header__content .email .email__content a:focus, body .header .header__content .email .phone__content a:hover, body .header .header__content .email .phone__content a:active, body .header .header__content .email .phone__content a:focus, body .header .header__content .phone .email__content a:hover, body .header .header__content .phone .email__content a:active, body .header .header__content .phone .email__content a:focus, body .header .header__content .phone .phone__content a:hover, body .header .header__content .phone .phone__content a:active, body .header .header__content .phone .phone__content a:focus {
            color: #1263ae; }
    body .header .catalog__content {
      position: relative;
      display: grid;
      grid-template-columns: 170px auto;
      grid-template-rows: 42px auto;
      grid-column-gap: 6px;
      height: 42px;
      margin-top: 15px; }
      body .header .catalog__content .catalog__btn {
        width: 170px;
        height: 100%;
        display: flex;
        background-color: #1263ae;
        border-radius: 2px;
        padding: 11px 0 11px 15px; }
        body .header .catalog__content .catalog__btn .spans {
          width: 28px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 12px; }
          body .header .catalog__content .catalog__btn .spans .line {
            height: 3px;
            background: white;
            border-radius: 1px; }
          body .header .catalog__content .catalog__btn .spans .first {
            width: 100%; }
          body .header .catalog__content .catalog__btn .spans .second {
            width: 50%;
            transition-duration: 1s; }
          body .header .catalog__content .catalog__btn .spans .three {
            width: 25%;
            transition-duration: 1s; }
        body .header .catalog__content .catalog__btn p {
          grid-area: 1/2/2/3;
          font-size: 1.375em;
          color: #ffffff;
          text-transform: uppercase;
          justify-self: center;
          line-height: 90%;
          text-align: left;
          display: grid;
          align-items: center; }
      body .header .catalog__content .catalog__btn:hover {
        cursor: pointer; }
        body .header .catalog__content .catalog__btn:hover .spans .second {
          width: 100%; }
        body .header .catalog__content .catalog__btn:hover .spans .three {
          width: 100%; }
      body .header .catalog__content .search {
        width: 100%;
        height: 100%;
        position: relative;
        display: grid; }
        body .header .catalog__content .search input {
          width: 100%;
          height: 100%;
          background: #EEEEEE;
          border-radius: 2px;
          display: grid;
          align-items: center;
          text-align: left;
          border: none;
          padding: 0 0 0 24px;
          font-size: 12px; }
        body .header .catalog__content .search .fa {
          color: #757f8e;
          position: absolute;
          align-self: center;
          right: 12px; }
      body .header .catalog__content .categories {
        display: none;
        position: absolute;
        top: 60px;
        z-index: 10;
        left: 0;
        background-color: #F8F8F8;
        background-image: url("../../images/laps.png");
        background-size: 36%;
        background-position: right top;
        background-repeat: no-repeat;
        border-radius: 3px;
        padding: 2px; }
        body .header .catalog__content .categories .categories__border {
          align-self: center;
          justify-self: center;
          display: grid;
          grid-template-columns: repeat(4, 120px);
          grid-column-gap: 40px;
          padding: 30px;
          border: 1px solid #CED6DE;
          filter: drop-shadow(6px 4px 14px rgba(0, 0, 0, 0.05));
          border-radius: 3px; }
          body .header .catalog__content .categories .categories__border .column {
            display: grid;
            grid-row-gap: 30px; }
          body .header .catalog__content .categories .categories__border .categorie {
            font-size: 13px;
            color: #4D545F; }
          body .header .catalog__content .categories .categories__border .categorie:hover {
            cursor: pointer;
            font-weight: 700;
            color: #1263ae; }
          body .header .catalog__content .categories .categories__border .active {
            font-weight: 700;
            color: #1263ae; }
  body .main {
    background-image: url("../../images/lapsmainbg.png");
    background-size: 36%;
    background-position: right 84%;
    background-repeat: no-repeat;
    margin-top: 120px; }
    body .main .form {
      position: fixed;
      width: 100%;
      height: 100%;
      display: grid;
      background-color: rgba(77, 84, 95, 0.86);
      backdrop-filter: blur(20px);
      top: 0;
      z-index: 100; }
      body .main .form form {
        align-self: center; }
        body .main .form form .form__content {
          display: grid;
          grid-template-columns: 100%;
          background-color: rgba(255, 255, 255, 0.91);
          background-image: url("../../images/lapsmainbg.png");
          background-position: center right;
          background-size: 30%;
          background-repeat: no-repeat;
          border-radius: 5px;
          padding: 40px 98px 71px 98px;
          grid-row-gap: 48px;
          max-height: 100vh;
          overflow-y: scroll; }
          body .main .form form .form__content .top {
            display: grid;
            grid-template-columns: 40px auto;
            grid-column-gap: 28px;
            margin-bottom: 10px; }
            body .main .form form .form__content .top img {
              max-width: 40px;
              width: 100%;
              align-self: center; }
            body .main .form form .form__content .top .title {
              font-size: 1.9375em;
              font-weight: 700;
              line-height: 36px;
              color: #4D545F; }
          body .main .form form .form__content .inputs {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 30px; }
            body .main .form form .form__content .inputs input {
              height: 60px;
              width: 100%;
              background: #FFFFFF;
              border-radius: 2px;
              border: none;
              padding-left: 20px;
              color: #000000; }
            body .main .form form .form__content .inputs input::-webkit-input-placeholder {
              text-transform: uppercase;
              font-size: 0.875em;
              line-height: 111%;
              color: #4D545F; }
            body .main .form form .form__content .inputs input::-moz-placeholder {
              text-transform: uppercase;
              font-size: 0.875em;
              line-height: 111%;
              color: #4D545F; }
            body .main .form form .form__content .inputs input:-moz-placeholder {
              text-transform: uppercase;
              font-size: 0.875em;
              line-height: 111%;
              color: #4D545F; }
            body .main .form form .form__content .inputs input:-ms-input-placeholder {
              text-transform: uppercase;
              font-size: 0.875em;
              line-height: 111%;
              color: #4D545F; }
          body .main .form form .form__content .thank__you .title {
            font-size: 1.9375em;
            font-weight: 700;
            line-height: 36px;
            color: #4D545F;
            text-align: center; }
          body .main .form form .form__content .submit {
            display: grid;
            grid-template-columns: 100%;
            grid-row-gap: 13px; }
            body .main .form form .form__content .submit .rules {
              font-size: 11px;
              line-height: 16px;
              color: #4d545f;
              max-width: 48%;
              width: 100%;
              text-align: left;
              justify-self: center; }
            body .main .form form .form__content .submit .submit__btn {
              max-width: 48%;
              width: 100%;
              height: 64px;
              background-color: #1263ae;
              border-radius: 2px;
              border: none;
              justify-self: center; }
            body .main .form form .form__content .submit .submit__btn:hover {
              cursor: pointer; }
    body .main .banner {
      margin-top: 18px; }
      body .main .banner .banner__content {
        background-color: #4d545f;
        background-image: url("../../images/lapsbanner.png");
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 36.5187713311% auto;
        grid-column-gap: 30px;
        padding: 13px;
        border-radius: 3px; }
        body .main .banner .banner__content .banner__img {
          max-width: 100%;
          border: 1px solid #58606D;
          border-radius: 3px; }
        body .main .banner .banner__content .right {
          display: grid;
          grid-template-rows: auto 27.4143302181%; }
          body .main .banner .banner__content .right .top {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: center; }
            body .main .banner .banner__content .right .top .title {
              font-size: 1.9375em;
              line-height: 41px;
              text-transform: uppercase;
              color: #e0e7ee;
              font-weight: 700; }
            body .main .banner .banner__content .right .top .subtitle {
              font-size: 1.5em;
              line-height: 42px;
              text-transform: uppercase;
              color: #757F8e;
              font-weight: 400; }
          body .main .banner .banner__content .right .top__elements {
            display: flex;
            grid-template-columns: repeat(3, 194px);
            column-gap: 5.7061340942%; }
            body .main .banner .banner__content .right .top__elements .element__conteiner {
              align-self: start;
              display: flex; }
              body .main .banner .banner__content .right .top__elements .element__conteiner .circle {
                width: 60px;
                height: 60px;
                border: 1px solid #58606D;
                border-radius: 50%;
                display: grid;
                align-items: center;
                justify-items: center; }
                body .main .banner .banner__content .right .top__elements .element__conteiner .circle img {
                  max-width: 80%; }
              body .main .banner .banner__content .right .top__elements .element__conteiner .about {
                align-self: center;
                font-size: 0.9375em;
                line-height: 21px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 10px; }
    body .main .categories__blocks {
      margin-top: 60px; }
      body .main .categories__blocks .blocks__content {
        display: grid;
        grid-template-columns: repeat(6, 14.5051194539%);
        grid-column-gap: 2.5597269625%;
        grid-row-gap: 18px;
        justify-items: center; }
        body .main .categories__blocks .blocks__content .opors__plits {
          grid-area: 2/2/3/4;
          justify-self: start;
          max-width: 50% !important;
          min-width: 200px; }
        body .main .categories__blocks .blocks__content .active__checkbox {
          border: 2px solid #1263ae; }
        body .main .categories__blocks .blocks__content .checkbox-other {
          display: flex;
          cursor: pointer;
          user-select: none;
          position: relative;
          align-items: center;
          height: 55px;
          width: 100%;
          max-width: 100%;
          border: 1px solid #CED6DE;
          border-radius: 2px;
          align-content: center;
          justify-content: start;
          padding-left: 20px; }
          body .main .categories__blocks .blocks__content .checkbox-other input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            display: block;
            width: 0;
            height: 0; }
          body .main .categories__blocks .blocks__content .checkbox-other .about__checkbox {
            display: flex;
            align-icontent: center;
            font-size: 0.9375em;
            line-height: 21px;
            color: #4d545f; }
          body .main .categories__blocks .blocks__content .checkbox-other input:checked + span:before {
            border: none;
            content: url("../../images/checked.svg"); }
          body .main .categories__blocks .blocks__content .checkbox-other input:checked + span {
            color: #1263ae;
            font-weight: 700; }
          body .main .categories__blocks .blocks__content .checkbox-other span:before {
            content: "";
            display: inline-block;
            width: 19px;
            height: 19px;
            background: rgba(51, 56, 59, 0);
            border: 1px solid #E0E7EE;
            border-radius: 2px;
            margin-right: 11px; }
        body .main .categories__blocks .blocks__content .checkbox-other:hover, body .main .categories__blocks .blocks__content .checkbox-other:active, body .main .categories__blocks .blocks__content .checkbox-other:focus {
          border-color: #1263ae; }
    body .main .tovars {
      margin-top: 54px; }
      body .main .tovars .nothing {
        display: grid;
        width: 100%;
        height: 500px;
        align-items: center;
        background-color: #F8F8F8; }
        body .main .tovars .nothing .title {
          font-size: 2.5625em;
          line-height: 51px;
          color: #4D545F;
          font-weight: 700;
          align-self: center;
          text-transform: uppercase;
          justify-self: center; }
      body .main .tovars .tovars__containers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 28px;
        grid-row-gap: 30px; }
        body .main .tovars .tovars__containers .tovar {
          background: #F8F8F8;
          box-shadow: -5px -4px 24px #FFFFFF, 5px 6px 12px rgba(0, 0, 0, 0.06);
          border-radius: 2px;
          border: 1px solid #E0E7EE;
          display: grid;
          grid-row-gap: 20px;
          padding: 15px; }
          body .main .tovars .tovars__containers .tovar img {
            width: 100%; }
          body .main .tovars .tovars__containers .tovar .title__tovar {
            font-size: 1.125em;
            line-height: 21px;
            color: #4d545f;
            font-weight: 700;
            text-align: left;
            width: 90%; }
          body .main .tovars .tovars__containers .tovar .about__tovar {
            display: grid;
            grid-row-gap: 2px; }
            body .main .tovars .tovars__containers .tovar .about__tovar .text {
              background: #E0E7EE;
              display: grid;
              grid-template-columns: 50% 50%;
              height: 40px;
              align-items: center;
              padding-left: 14px; }
              body .main .tovars .tovars__containers .tovar .about__tovar .text .name__about {
                font-size: 0.625em;
                line-height: 24px;
                color: #757F8E;
                font-weight: 700; }
              body .main .tovars .tovars__containers .tovar .about__tovar .text .value {
                text-align: center;
                font-size: 0.75em;
                line-height: 17px;
                color: #757F8E;
                font-weight: 700; }
          body .main .tovars .tovars__containers .tovar .price {
            font-size: 1.875em;
            line-height: 31px;
            text-transform: uppercase;
            color: #4D545F;
            font-weight: 700; }
            body .main .tovars .tovars__containers .tovar .price .fa {
              font-size: 0.75em;
              font-weight: 700; }
          body .main .tovars .tovars__containers .tovar .button {
            width: 100%;
            height: 62px;
            background: #1263AE;
            border-radius: 2px;
            display: grid;
            align-items: center;
            text-align: center;
            font-size: 0.9375em;
            line-height: 21px;
            color: #FFFFFf; }
          body .main .tovars .tovars__containers .tovar .button:hover {
            cursor: pointer; }
      body .main .tovars .button__more {
        width: 100%;
        margin-top: 17px;
        height: 54px;
        display: flex;
        justify-content: center;
        background: #E0E7EE;
        border-radius: 2px; }
        body .main .tovars .button__more p {
          font-size: 15px;
          line-height: 21px;
          color: #4D545F;
          align-self: center; }
        body .main .tovars .button__more svg {
          align-self: center;
          margin-left: 10px; }
      body .main .tovars .button__more:hover {
        background: #1263ae;
        cursor: pointer; }
        body .main .tovars .button__more:hover p {
          color: #ffffff; }
        body .main .tovars .button__more:hover svg {
          fill: #ffffff; }
    body .main .maybe__intresting {
      margin-top: 52px; }
      body .main .maybe__intresting .maybe__content {
        display: grid;
        grid-row-gap: 48px; }
        body .main .maybe__intresting .maybe__content .top {
          display: flex; }
          body .main .maybe__intresting .maybe__content .top img {
            width: 40px;
            align-self: center; }
          body .main .maybe__intresting .maybe__content .top .title {
            font-size: 2.5625em;
            line-height: 51px;
            color: #4D545F;
            font-weight: 700;
            align-self: center;
            margin-left: 30px; }
        body .main .maybe__intresting .maybe__content .containers {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 30px;
          grid-row-gap: 30px; }
          body .main .maybe__intresting .maybe__content .containers .maybe__container {
            display: grid;
            padding: 2px;
            background: #F8F8F8;
            box-shadow: -5px -4px 24px #FFFFFF, 5px 6px 12px rgba(0, 0, 0, 0.06);
            border-radius: 3px; }
            body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border {
              width: 100%;
              display: grid;
              align-self: center;
              justify-self: center;
              grid-column-gap: 30px;
              grid-template-columns: 130px auto;
              border: 1px solid #CED6DE;
              box-sizing: border-box;
              border-radius: 3px;
              padding: 30px 0px 30px 40px; }
              body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .circle {
                position: relative;
                width: 130px;
                height: 130px;
                background: rgba(206, 214, 222, 0.24);
                border-radius: 50%;
                align-self: center;
                justify-self: start;
                display: grid;
                align-items: center;
                justify-items: center; }
                body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .circle img {
                  position: absolute;
                  max-width: 110%; }
              body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right {
                display: flex;
                flex-direction: column;
                justify-content: space-between; }
                body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .maybe__title {
                  font-size: 1.3125em;
                  line-height: 21px;
                  color: #1263AE;
                  font-weight: 700; }
                body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .price {
                  font-size: 1.25em;
                  line-height: 24px;
                  color: #4D545F;
                  font-weight: 700; }
                  body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .price .fa {
                    font-weight: 700;
                    font-size: 0.875em; }
                body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .button {
                  height: 37px;
                  min-width: 115px;
                  width: 80%;
                  background-color: #1263AE;
                  border-radius: 2px;
                  display: flex;
                  justify-content: center; }
                  body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .button p {
                    font-size: 12px;
                    line-height: 24px;
                    color: #FFFFFF;
                    align-self: center; }
                  body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .button svg {
                    align-self: center;
                    margin-left: 10px; }
                body .main .maybe__intresting .maybe__content .containers .maybe__container .container__border .maybe__right .button:hover {
                  cursor: pointer; }
  body .footer {
    padding: 8px 0 8px 0;
    margin-top: 70px;
    background-color: #4d545f; }
    body .footer .container {
      display: flex;
      justify-content: space-between;
      align-content: center; }
      body .footer .container .logo {
        display: flex;
        align-content: end; }
        body .footer .container .logo img {
          grid-area: 1/1/3/2;
          max-height: 55px;
          height: 100%;
          width: 14%;
          justify-self: start;
          align-self: start;
          max-height: 55px;
          margin-right: 5px; }
        body .footer .container .logo .logo__text {
          align-self: center; }
          body .footer .container .logo .logo__text .title__logo {
            font-weight: 700;
            font-size: 1.3125em;
            color: white;
            align-self: end; }
          body .footer .container .logo .logo__text .subtitle__logo {
            grid-area: 2/2/3/3;
            font-size: 0.875em;
            line-height: 16px;
            color: white;
            align-self: start; }
      body .footer .container .ofert {
        font-size: 13px;
        line-height: 15px;
        color: white;
        align-self: center; }
      body .footer .container .ofert:hover {
        color: #1263ae; }
      body .footer .container .right {
        display: flex;
        align-content: center; }
        body .footer .container .right p {
          font-size: 11px;
          line-height: 13px;
          color: #FFFFFF;
          align-self: center; }
        body .footer .container .right img {
          width: 26px;
          align-self: center;
          margin-left: 6px; }

/*# sourceMappingURL=style.css.map */
